/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

.home-heading {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.home-text-msg {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
}

.strip {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

.home-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 20px;
}

.home-input-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-input-btn:hover {
    background-color: #1b1818;
}

@media (max-width: 600px) {
    .home-heading {
        font-size: 2em;
    }

    .home-text-msg {
        font-size: 1em;
    }

    .home-input {
        width: 90%;
    }
}
