/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.navbar-container a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar-container a:hover {
    background-color: #292424;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-container a {
        margin: 5px 0;
    }
}
