body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: fixed;
}
.navbar-container{
    display: flex;
    overflow: hidden;
    background-color: black;
    justify-content: space-between;
}
.navbar-container a{
    float:inline-start;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}
.navbar-home-btn{
    margin-left: auto;
}